*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff;
}

h1 {
  text-align: center;
  margin-top: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #ccc;
}

.app {
  max-width: 1200px;
  margin: auto;
}

.label-span {
  display: block;
}

.amount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem auto;
  width: 25rem;
  padding: 0.5rem 1rem;
}

h3 {
  margin-left: auto;
  margin-right: 0.5rem;
}

.inputs-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem auto;
  width: 100%;
  padding: 0.5rem 1rem;
}

.radio-inputs-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem auto;
  width: 25%;
  padding: 0.5rem 1rem;
}

.other-inputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

.value-inputs {
  padding: 0.5rem 1rem;
  margin-right: 1rem;
}

.btn {
  padding: 0.45rem 2rem;
  cursor: pointer;
}

.btn:active {
  transform: translateY(1px);
}

input[type="radio"] {
  width: 1.3rem;
  height: 1.3rem;
}

.lists {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem auto;
}

.inc-list {
  width: 100%;
}

.exp-list {
  width: 100%;
}

ul {
  list-style: none;
  margin: 1rem auto;
  padding: 0.5rem 1rem;
}

.li-item {
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.li-item:nth-child(odd) {
  background-color: #dddddd;
}

.single-list {
  width: 100%;
}

.btn-edit {
  margin-right: 1rem;
}

.btn-info {
  margin-right: 1rem;
}

.fa-solid {
  cursor: pointer;
}

.fa-pen-to-square:hover {
  color: green;
}

.fa-trash:hover {
  color: red;
}

.editing-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  width: 50%;
  height: 50%;
  background-color: rgba(255, 255, 255, 0.95);
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.editing-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 1rem auto;
  width: 100%;
  padding: 0.5rem 1rem;
}

.editing-form > input[type="text"],
.editing-form > input[type="number"],
.editing-form > button[type="submit"] {
  width: 40%;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
}

.close-modal {
  margin-left: auto;
  margin-right: 1rem;
  margin-top: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.close-modal:hover {
  color: red;
}
